@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  
}

header {
  text-align: center;
  padding: 20px 0;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to right, #f6d365, #944bf3);
}
